<td><a href="#" class="btn-view">{{data.model.title}}</a></td>
<td>{{data.model.date}}</td>
<td>{{data.model.beginTime}}</td>
<td>{{data.model.endTime}}</td>
<td>{{data.model.status}}</td>
<td>{{data.model.priority}}</td>
<td>
  <a href="#" title="{{data.title.start}}" class="btn-start"><i class="glyphicon glyphicon-play"></i></a>
  <a href="#" title="{{data.title.edit}}" class="btn-edit"><i class="glyphicon glyphicon-pencil"></i></a>
  <a href="#" title="{{data.title.remove}}" class="btn-remove"><i class="glyphicon glyphicon-remove"></i></a>
</td>